* {
    font-family: Arial, Helvetica, sans-serif;
    
}

header {
    background-color: #519E8a;
}

h1, h2{
    text-align: center;
    color:white
    
}

nav {
    border-bottom: 1px solid black;
    text-align: center;
}

.menu li{
    display: inline-block;
    padding: 10px;
}

main {
    background-color: #7EB09B;
    text-align: center;
}

/* color palette (dark to light)
#476A6F
#519E8A
#7EB09B
#C5C9A4
#ECBEB4
